#main_1 {
    justify-content: flex-start;
    background-image: url('../img/main_1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#main_2 {
    justify-content: flex-end;
    background-image: url('../img/main_2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#main_3 {
    justify-content: flex-start;
    background-image: url('../img/main_3.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#main_4 {
    justify-content: flex-end;
    background-image: url('../img/main_4.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.main .content-main .section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    height: 100%;
    color: var(--color-white);
}

.main .content-main .section .content-section {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
}

.main .content-main .section .content-section .text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 50px;
    width: 70%;
    background-color: #515f69d8;
    margin: 0;
    padding: 50px;
}

.main .content-main .section .content-section .text-section h3 {
    padding: 10px;
}

.main .content-main .section .content-section .text-section p {
    padding: 10px;
}

.btn-quotes {
    margin-left: 10px;
    padding: 10px;
    background-color: #212529;
    border-radius: 5px;
    transition: 0.3s ease;
}

.btn-quotes:hover {
    background-color: #282d31;
    color: #7ac8ff !important;
}

/*-------------------------------Estilos para el Form de contacto-------------------------------*/
.contact {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
    width: 100%;
    margin:20px 0;
    font-family: 'roboto_regular' !important;
}

.contact .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 50%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #21252949
}

.contact .form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contact .img_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    border-radius: 10px;
    transition-duration: 5s;
  }
  
  .contact .img_contact img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center ;
  }

/*-------------------------------preguntar-------------------------------*/
.form-label {
    color: #111111;
}

/*-------------------------------Media Queries-------------------------------*/
@media (max-width: 1000px) {
    #main_5 {
        justify-content: flex-start;
        background-image: url('../img/contact.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 8px;
        border: 2px solid #21252949;
        transition-duration: 1s;
        
    }
    .contact {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    
    .contact .form {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        border: none;
    }
    
    .contact .img_contact {
        display:none !important;
    }

    .main .content-main {
        padding: 0 50px;
    }

    .main .content-main .section .content-section .text-section {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 90%;
        background-color: #515f69d8;
        margin: 0;
        padding: 20px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .contact .form {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        border: none;
    }

    #main_5 {
        border-radius: 8px;
        border: 2px solid #21252949;
    }

    .form-control {
        /* background-color: transparent; */
        background-color: #6b777f;
        opacity: 0.75;
        border: solid 50px #21252949;
    }
}

@media (max-width: 768px) {
    .image-container .title-banner {
        font-size: 0.6em !important;
    }

    .main .content-main {
        padding: 0 20px;
    }
}