#main_1 {
    justify-content: flex-start;
    background-image: url('../img/main_7.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#main_2 {
    justify-content: flex-end;
    background-image: url('../img/main_4.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#main_3 {
    justify-content: flex-start;
    background-image: url('../img/main_3.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.main .content-main .section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    height: 100%;
    color: var(--color-white);
}

.main .content-main .section .content-section {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
}

.main .content-main .section .content-section .text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 50px;
    width: 70%;
    background-color: #515f69d8;
    margin: 0;
    padding: 50px;
}

.main .content-main .section .content-section .text-section h3 {
    padding: 10px;
}

.main .content-main .section .content-section .text-section p {
    padding: 10px;
}

/*-------------------------------Estilos para el Form de contacto-------------------------------*/
.contact {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
    width: 100%;
    font-family: 'roboto_regular' !important;
}

.contact .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 50%;
    margin: auto;
    padding: 50px 30px;
    border-radius: 10px;
    border: 2px solid #21252949
}

.contact .form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contact .form {
    width: 50%;
}

.contact .img_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    border-radius: 10px;
    transition-duration: 5s;
}

.contact .img_contact img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

/*-------------------------------preguntar-------------------------------*/
.form-label {
    color: #111111;
}

/*-------------------------------Media Queries-------------------------------*/
@media (max-width: 1000px) {
    .main .content-main {
        padding: 0 50px;
    }

    .main .content-main .section .content-section .text-section {
        width: 90%;
        background-color: #515f69d8;
        margin: 0;
        padding: 20px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .contact .form {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        border: none;
    }

    .contact .img_contact {
        display: none !important;
        /* display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      width: 100%; */
    }

    #main_4 {
        justify-content: flex-start;
        background-image: url('../img/contact.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 8px;
        border: 2px solid #21252949;
    }

    .form-control {
        /* background-color: transparent; */
        background-color: #6b777f;
        opacity: 0.75;
        border: solid 50px #21252949;
    }
}

@media (max-width: 768px) {
    .image-container .title-banner {
        font-size: 0.6em !important;
    }

    .main .content-main {
        padding: 0 20px;
    }
}