body {
    background-color: #000000 !important;
    color: #f4f6f7 !important;
}

/*-------------------------------Estilos para los widgets-------------------------------*/
.widgets {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#tradingview-widgets, #tradingview-widgets-statics {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.title-select {
    width: 100%;
    text-align: center;
}

.content-select {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 30px;
}

@media (max-width: 1000px) {
    .main .content-main {
        padding: 0 10px;
    }
}