:root {
  --color-bg: #E3E3E3;
  --color-white: #f4f6f7;
}

/* Fuentes */
@font-face {
  font-family: 'adobe_myungjo';
  src: url('fonts/adobe_myungjo.otf') format('opentype');
}

@font-face {
  font-family: 'roboto_light';
  src: url('fonts/roboto_light.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto_regular';
  src: url('fonts/roboto_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'playfair_display';
  src: url('fonts/playfair_display.ttf') format('truetype');
}

@font-face {
  font-family: 'playfair_display_italic';
  src: url('fonts/playfair_display_italic.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'roboto_regular' !important;
  background-color: var(--color-bg);
  font-size: 20px !important;
  line-height: 25px;
}

a {
  text-decoration: none !important;
}

.top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 15px;
  background-color: #007bffef;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 5px #00000080;
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease, all 0.5s ease;
}

.top-button:hover {
  background-color: #0057b3ef;
  transform: scale(1.1);
}

.top-button.show {
  opacity: 1;
  visibility: visible;
}

/* Estilos botones de redes */
.face-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 15px 15px;
  background-color: #007bffef;
  color: white;
  border-radius: 50%;
  box-shadow: 0px 2px 5px #00000080;
  font-size: 16px;
  transition: all 0.5s ease, all 0.5s ease;
}

.face-button:hover {
  background-color: #0057b3ef;
  transform: scale(1.1);
}

.insta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  position: fixed;
  bottom: 80px;
  left: 20px;
  padding: 15px 15px;
  background-color: #007bffef;
  color: white;
  border-radius: 50%;
  box-shadow: 0px 2px 5px #00000080;
  font-size: 16px;
  transition: all 0.5s ease, all 0.5s ease;
}

.insta-button:hover {
  background-color: #0057b3ef;
  transform: scale(1.1);
}

/* Estilos para el Header */
.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #21252900;
  color: var(--color-white);
  padding: 10px 50px;
  font-family: 'roboto_light';
  transition: 0.5s ease;
  overflow: hidden;
}

.header.down {
  height: 60px;
  background-color: #212529;
  box-shadow: 0px 2px 4px #00000080;
  transition: 0.5s ease;
}

.brand {
  height: auto;
  width: auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 0.4s ease;
}

.brand:hover {
  background-color: #515f6980;
  transform: scale(1.01);
  transition: 0.4s ease;
}

.brand:active {
  background-color: #b0b0b044;
  transition: 0.4s ease;
}

.brand img {
  height: 60px;
  width: 300px;
}

.nav .menu {
  list-style: none;
  display: flex;
  margin: 0;
}

nav .menu li {
  margin-right: 20px;
}

nav .menu li:last-child {
  margin-right: 0;
}

.nav .menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em !important;
  text-decoration: none;
  color: var(--color-white);
  padding: 14px;
  border-radius: 5px;
  transition: 0.4s ease;
}

.nav .menu li a:hover {
  background-color: #515f6980;
  color: #7ac8ff;
  transform: scale(1.1);
  transition: 0.4s ease;
}

.nav .menu li a:active {
  background-color: #b0b0b044;
  transition: 0.4s ease;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  display: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: 0.4s ease;
}

.menu-icon:hover {
  background-color: #515f6980;
  transform: scale(1.1);
  transition: 0.4s ease;
}

.menu-icon:active {
  background-color: #b0b0b044;
  transition: 0.4s ease;
}

.burger-menu {
  display: none;
  height: 100vh;
  width: 60%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #212529;
  color: var(--color-white);
  z-index: 1005;
  overflow: hidden;
}

.burger-menu.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0 !important;
}

.burger-menu.active li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #cccccc48;
}

.burger-menu.active li:first-child {
  padding-top: 20px;
  padding-bottom: 20px;
}

.burger-menu.active li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
  transition: 0.4s ease;
  border-radius: 10px;
}

.burger-menu.active li a:hover {
  background-color: #515f6980;
  transform: scale(1.1);
  transition: 0.4s ease;
}

.burger-menu.active li a:active {
  background-color: #b0b0b044;
  transition: 0.4s ease;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004f;
  z-index: 1001;
}

.overlay.active {
  display: block;
}

.active {
  display: block;
}

/* Estilos para el Main */
.main {
  height: auto;
  width: auto;
  overflow: hidden;
  font-size: 0.8em;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  /*height: 607px;*/
  background-image: radial-gradient(circle, rgba(254, 254, 254, 0) 0%, rgba(0, 0, 0, 1) 80%), url("img/banner.webp");
  background-size: cover;
  background-position: center;
}

.image-container .banner {
  max-width: 845px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  line-height: 1.5;
  text-align: center;
}

.image-container .title-banner {
  max-width: 675px;
}

.image-container .title-banner h1 {
  font-family: "adobe_myungjo";
  background-color: #515f69d8;
  font-size: 5em;
  padding: 10px;
}

.image-container .title-banner h2 {
  font-family: "adobe_myungjo";
  background-color: #515f69d8;
  font-size: 2em;
  letter-spacing: 2px;
  padding: 10px;
}

.main .content-main {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.main .content-main .about {
  margin: 80px 0;
}

.main .content-main .section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  height: 100%;
  color: var(--color-white);
}

.main .content-main .section .content-section {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
}

.main .content-main .section .content-section .text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 50px;
  width: 70%;
  background-color: #515f69d8;
  margin: 0;
  padding: 50px;
}

#main_1 {
  justify-content: flex-start;
  background-image: url('img/main_7.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

#main_2 {
  justify-content: flex-end;
  background-image: url('img/main_4.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

#main_3 {
  justify-content: flex-start;
  background-image: url('img/main_3.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.main .content-main .section .content-section .text-section h3 {
  padding: 10px;
}

.main .content-main .section .content-section .text-section p {
  padding: 10px;
}

/* Estilos para el Form de contacto */
.contact {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  margin: 80px 0;
  font-family: 'roboto_regular' !important;
}

.contact .form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 50%;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #21252949;
}

.contact .form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact .form {
  width: 50%;
}

.contact .img_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
  border-radius: 10px;
}

.contact .img_contact img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

/* Estilos para el Footer */
.footer {
  font-family: "roboto_light";
  height: auto;
  width: 100%;
  background-color: #212529;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 0.8em;
  box-shadow: 0px -2px 4px #00000080;
}

.footer .content_footer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer .content_footer .text_footer {
  height: auto;
  width: 50%;
  max-width: 450px;
}

.footer .content_footer .contact_footer {
  height: auto;
  width: 50%;
  max-width: 450px;
  max-height: 500px;
}

.footer .content_footer .text_footer p {
  padding: 60px;
}

.footer .content_footer .contact_footer p {
  padding: 0;
  margin-bottom: 8px;
}

.footer .content_footer h3 {
  padding: 20px;
}

.footer .content_footer .contact_footer p,
.footer .content_footer .contact_footer h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .content_footer .content_redes {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer .content_footer img {
  box-sizing: content-box;
  font-size: 1em;
  text-decoration: none;
  color: var(--color-white);
  padding: 17px;
  border-radius: 5px;
  transition: 0.4s ease;
}

.content_footer a:hover img {
  filter: brightness(0.8);
  /* Reduce el brillo al hacer hover */
  transform: scale(1.1);
  background-color: #515f6980;
  color: #7ac8ff;
  transition: 0.4s ease;
}

.footer .content_footer p {
  padding: 40px;
  margin: 0;
}

.footer .copyright {
  height: auto;
  width: 100%;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid rgba(244, 246, 247, 0.3);
}

.footer .copyright p {
  margin: 0;
}

/* Media Queries */
@media (max-width: 1000px) {


  .nav .menu li a {
    font-size: 0.6em !important;
  }

  .brand img {
    height: 60px;
    width: 220px;
  }

  .main .content-main {
    padding: 0 50px;
  }

  .main .content-main .section .content-section {
    justify-content: center;
    align-items: flex-start;
    background-image: url('img/banner.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
  }

  .main .content-main .section .content-section .text-section {
    width: 90%;
    background-color: #515f69d8;
    margin: 0;
    padding: 20px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .contact .form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .contact .img_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .footer .content_footer .text_footer {
    height: auto;
    width: 80%;
    max-width: 600px;
  }

  .footer .content_footer .contact_footer {
    height: auto;
    width: 80%;
    padding: 30px 60px 60px 60px;
  }

  .footer .content_footer .text_footer p {
    padding: 60px 60px 30px 60px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 5px 20px;
  }

  .nav .menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .image-container .title-banner {
    font-size: 0.6em !important;
  }

  .main .content-main {
    padding: 0 20px;
  }

  .footer .content_footer {
    flex-direction: column;
  }

  .footer .content_footer p {
    padding: 10px 20px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 5px 10px;
  }

  .brand img {
    height: 60px !important;
    width: 200px !important;
  }
}

@media (min-width: 769px) {
  .burger-menu.active {
    display: none;
  }

  .overlay.active {
    display: none;
  }
}

/* Estilos para el ScrollBar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #212529;
}

::-webkit-scrollbar-thumb {
  background: #888888;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}

/* Animacion de entrada */

.content-section.flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: flip-in-hor-bottom 2s ease;
}

 @-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
